# Build outputs
[Bb]in/
[Oo]bj/
out/
/Logs/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

# IDE
.vs/
.idea/
.vscode/

# Rider (.idea) granular ignores
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/httpRequests/
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
packages/

# OS files
.DS_Store
Thumbs.db

# LogFile
*.log
