# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Task_20260225.iml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# 빌드 결과물 무시
bin/
obj/
out/

# 사용자 환경 파일 무시
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# 로그/업로드 폴더 파일 무시
Logs/
*.log